src/main/resources/generated/homework_objects_schema.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name='JsonFileClass'>
        <xs:complexType>
            <xs:sequence>
                <xs:element name='version' type='xs:string' minOccurs='0'/>
                <xs:element name='parameters' type='JsonParameters' minOccurs='0' maxOccurs='unbounded'/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name='JsonParameters'>
        <xs:sequence>
            <xs:element name='name' type='xs:string' minOccurs='0'/>
            <xs:element name='description' type='xs:string' minOccurs='0'/>
            <xs:element name='isList' type='xs:boolean' minOccurs='0'/>
            <xs:element name='roles' type='xs:string'  minOccurs='0' maxOccurs='unbounded'/>
            <xs:element name='type' type='xs:string' minOccurs='0'/>
            <xs:element name='bundle' type='Bundle'  minOccurs='0' maxOccurs='unbounded'/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name='Bundle'>
        <xs:sequence>
            <xs:element name='path' type='Path' minOccurs='0' maxOccurs='unbounded'/>
            <xs:element name='values' type='xs:string' minOccurs='0' maxOccurs='unbounded'/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name='Path'>
        <xs:sequence>
            <xs:element name='code' type='xs:string' minOccurs='0'/>
            <xs:element name='value' type='xs:string' minOccurs='0'/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>