src/main/resources/generated/objects_schema.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name='Fallback'>
        <xs:complexType>
            <xs:sequence>
                <xs:element name='parameters' type='Parameter' minOccurs='0' maxOccurs='unbounded'/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name='Parameter'>
        <xs:sequence>
            <xs:element name='name' type='xs:string' minOccurs='0'/>
            <xs:element name='type' type='xs:string' minOccurs='0'/>
            <xs:element name='path' type='Path'  minOccurs='0' maxOccurs='unbounded'/>
            <xs:element name='value' type='xs:string'  minOccurs='0' maxOccurs='unbounded'/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name='Path'>
        <xs:sequence>
            <xs:element name='value' type='xs:string' minOccurs='0'/>
            <xs:element name='name' type='xs:string' minOccurs='0'/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>